{% extends "base.html" %}

{% block titulo %}Plataforma{% endblock titulo %}

{% block conteudo %}
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-md-12 d-flex justify-content-between align-items-center">
            <h1>Bem-vindo, {{ user.username }}!</h1>
            <form method="post" action="{% url 'blacklist:logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4">Adicionar IP à Blacklist</h2>
            <form method="post" class="mb-4" action="{% url 'blacklist:plataforma' %}" >
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Adicionar</button>
            </form>
            {% if blacklist %}
                <h2 class="mb-4">IPs Bloqueados</h2>
                <ul class="list-group">
                    {% for ip in blacklist %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ ip.ip_address }}
                        <form method="post" action="{% url 'blacklist:remove_ip' ip.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Desbloquear</button>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock conteudo %}